In [7]:
import pandas as pd

df = pd.read_csv('./data/Interns_2025_SWIFT_CODES.csv')
df.head(3)

,COUNTRY ISO2 CODE,SWIFT CODE,CODE TYPE,NAME,ADDRESS,TOWN NAME,COUNTRY NAME,TIME ZONE
0,AL,AAISALTRXXX,BIC11,UNITED BANK OF ALBANIA SH.A,"HYRJA 3 RR. DRITAN HOXHA ND. 11 TIRANA, TIRANA...",TIRANA,ALBANIA,Europe/Tirane
1,BG,ABIEBGS1XXX,BIC11,ABV INVESTMENTS LTD,"TSAR ASEN 20 VARNA, VARNA, 9002",VARNA,BULGARIA,Europe/Sofia
2,BG,ADCRBGS1XXX,BIC11,ADAMANT CAPITAL PARTNERS AD,"JAMES BOURCHIER BLVD 76A HILL TOWER SOFIA, SOF...",SOFIA,BULGARIA,Europe/Sofia

## Code indentification

In [ ]:
# Create a new DataFrame df1 based on df
df1 = df.copy()

# Add a new column 'ISHQ'
df1['ISHQ'] = df1['SWIFT CODE'].str.endswith('XXX').apply(lambda x: 'H' if x else 'B')

# Create a new DataFrame 'headquarters' with only headquarters records
headquarters = df1[df1['ISHQ'] == 'H']['SWIFT CODE'].str[:8]

#sets used for speed

hq_set = set(headquarters)
df1['HQ SWIFT CODE'] = df1['SWIFT CODE'].str[:8].apply(
    lambda x: x + 'XXX' if x in hq_set else None
)
df1.head(400)

,COUNTRY ISO2 CODE,SWIFT CODE,CODE TYPE,NAME,ADDRESS,TOWN NAME,COUNTRY NAME,TIME ZONE,ISHQ,HQ SWIFT CODE
0,AL,AAISALTRXXX,BIC11,UNITED BANK OF ALBANIA SH.A,"HYRJA 3 RR. DRITAN HOXHA ND. 11 TIRANA, TIRANA...",TIRANA,ALBANIA,Europe/Tirane,H,AAISALTRXXX
1,BG,ABIEBGS1XXX,BIC11,ABV INVESTMENTS LTD,"TSAR ASEN 20 VARNA, VARNA, 9002",VARNA,BULGARIA,Europe/Sofia,H,ABIEBGS1XXX
2,BG,ADCRBGS1XXX,BIC11,ADAMANT CAPITAL PARTNERS AD,"JAMES BOURCHIER BLVD 76A HILL TOWER SOFIA, SOF...",SOFIA,BULGARIA,Europe/Sofia,H,ADCRBGS1XXX
3,UY,AFAAUYM1XXX,BIC11,AFINIDAD A.F.A.P.S.A.,"PLAZA INDEPENDENCIA 743 MONTEVIDEO, MONTEVIDE...",MONTEVIDEO,URUGUAY,America/Montevideo,H,AFAAUYM1XXX
4,MC,AGRIMCM1XXX,BIC11,CREDIT AGRICOLE MONACO (CRCA PROVENCE COTE D'A...,"23 BOULEVARD PRINCESSE CHARLOTTE MONACO, MONA...",MONACO,MONACO,Europe/Monaco,H,AGRIMCM1XXX
...,...,...,...,...,...,...,...,...,...,...
395,BG,NASBBGSFXXX,BIC11,BULGARIAN DEVELOPMENT BANK EAD,"DYAKON IGNATIY STREET 1 SOFIA, SOFIA, 1000",SOFIA,BULGARIA,Europe/Sofia,H,NASBBGSFXXX
396,PL,NBPLPLPDXXX,BIC11,NARODOWY BANK POLSKI,"UL. SWIETOKRZYSKA 11/21 WARSZAWA, MAZOWIECKIE...",WARSZAWA,POLAND,Europe/Warsaw,H,NBPLPLPDXXX
397,PL,NBPLPLPWBAN,BIC11,NARODOWY BANK POLSKI,"WARSZAWA, MAZOWIECKIE",WARSZAWA,POLAND,Europe/Warsaw,B,NBPLPLPWXXX
398,PL,NBPLPLPWKIR,BIC11,NARODOWY BANK POLSKI,"WARSZAWA, MAZOWIECKIE",WARSZAWA,POLAND,Europe/Warsaw,B,NBPLPLPWXXX
399,PL,NBPLPLPWXXX,BIC11,NARODOWY BANK POLSKI,"SWIETOKRZYSKA 11-21 WARSZAWA, MAZOWIECKIE, 00...",WARSZAWA,POLAND,Europe/Warsaw,H,NBPLPLPWXXX

## Code Formatting

In [ ]:
df1['COUNTRY ISO2 CODE'] = df1['COUNTRY ISO2 CODE'].str.upper()
df1['COUNTRY NAME'] = df1['COUNTRY NAME'].str.upper()

In [46]:
df1.head(5)

,COUNTRY ISO2 CODE,SWIFT CODE,CODE TYPE,NAME,ADDRESS,TOWN NAME,COUNTRY NAME,TIME ZONE,ISHQ,HQ SWIFT CODE
0,AL,AAISALTRXXX,BIC11,UNITED BANK OF ALBANIA SH.A,"HYRJA 3 RR. DRITAN HOXHA ND. 11 TIRANA, TIRANA...",TIRANA,ALBANIA,Europe/Tirane,H,AAISALTRXXX
1,BG,ABIEBGS1XXX,BIC11,ABV INVESTMENTS LTD,"TSAR ASEN 20 VARNA, VARNA, 9002",VARNA,BULGARIA,Europe/Sofia,H,ABIEBGS1XXX
2,BG,ADCRBGS1XXX,BIC11,ADAMANT CAPITAL PARTNERS AD,"JAMES BOURCHIER BLVD 76A HILL TOWER SOFIA, SOF...",SOFIA,BULGARIA,Europe/Sofia,H,ADCRBGS1XXX
3,UY,AFAAUYM1XXX,BIC11,AFINIDAD A.F.A.P.S.A.,"PLAZA INDEPENDENCIA 743 MONTEVIDEO, MONTEVIDE...",MONTEVIDEO,URUGUAY,America/Montevideo,H,AFAAUYM1XXX
4,MC,AGRIMCM1XXX,BIC11,CREDIT AGRICOLE MONACO (CRCA PROVENCE COTE D'A...,"23 BOULEVARD PRINCESSE CHARLOTTE MONACO, MONA...",MONACO,MONACO,Europe/Monaco,H,AGRIMCM1XXX